{% assign lines_data = "L1:Hosp. Bellvitge / Fondo|L2:Paral·lel / Badalona PF|L3:Zona Univ. / Trinitat Nova|L4:La Pau / Trinitat Nova|L5:Cornellà / Vall d'Hebron|L9N:La Sagrera / Can Zam|L9S:Zona Univ. / Aeroport T1|L10N:La Sagrera / Gorg|L10S:ZAL Riu Vell / Collblanc|L11:Trinitat Nova / Can Cuiàs|FM:Paral·lel / Parc Montjuïc" | split: "|" %}
{% assign sorted_alerts = data.alerts | sort: "tstamp" | reverse %}
{% assign icon_url = "https://raw.githubusercontent.com/taichikuji/trmnl-tmb-plugin/refs/heads/main/TRMNL/media/icon.svg" %}

{% template empty_state %}
  {% assign title_class = title_class | default: 'title--small' %}
  <div class="title {{ title_class }} lg:title--large" style="margin-top: 10px;">All good!</div>
  <div class="text--small lg:text--base text--gray">Every lane is working properly. Or so they say.</div>
{% endtemplate %}

{% template title_bar %}
  <div class="title_bar">
    <span class="title">TMB</span>
    <span class="instance">Line Status and Outages</span>
  </div>
{% endtemplate %}